# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.pyc

# Entornos
venv/
env/
.env
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Data - Ignorar archivos temporales en processed
data/processed/*_temp.xlsx

# Pero SÍ versionar el resultado final
!data/processed/bmw_pricing_cleaned.csv
